[Unit]
Description=MPKind Next.js Application
After=network.target

[Service]
Type=simple
User=your-user
WorkingDirectory=/mpkind-folder
ExecStart=/usr/bin/npm start
Restart=always

[Install]
WantedBy=multi-user.target 